.ads-list {
    width: 50%;
    margin-left: 0;
    padding-left: 0;
}

.ads-list-item {
    list-style-type: none;
    border-bottom: solid 1px #bfbfbf;
}

.ads-list-item:first-child {
    border-top: solid 1px #bfbfbf;
}

.link-item {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #3c7dbf;
}

.link-item:hover {
    background-color: #f1f0f0;
}

.icon-eye {
    vertical-align: middle;
    float: right;
    position: relative;
    width: 20px;
    height: 20px;
    background: currentColor;
    border-radius: 70% 0 / 70%;
    transform: rotate(45deg);
}

.icon-eye::before,
.icon-eye::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background: #fff;
    border-radius: 100%;
}

.icon-eye::after {
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    background: inherit;
}