.edit-title-input {
    height: 25px;
    padding: 5px;
}

.edit-title,
.edit-description,
.edit-phone,
.edit-error {
    margin-top: 20px;
}

.edit-description-textarea,
.edit-title-input {
    border: solid 1px #bfbfbf;
    width: 50%;
}

.edit-description-textarea {
    width: 50%;
    padding: 6px;
    min-height: 100px;
    resize: none;
}

.edit-description-textarea:focus,
.edit-title-input:focus {
    border-color: #5050cc;
    outline: none;
}

.edit-error {
   color: red;
   margin-bottom: 20px;
}

.error,
.edit-title-input.error:focus {
    border-color: red;
}