.detail {
    width: 50%;
}

.title-btn {
    float: right;
    margin-left: 20px;
}

.detail-title {
    font-size: 2em;
    padding: 20px 0;
}

.detail-description {
    white-space: pre-wrap;
}

.detail-description,
.detail-phone{
    margin-top: 20px;
}