html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: sans-serif;
}

.app-container {
    padding: 20px;
}

.btn {
    padding: 6px 15px;
    font-size: 1rem;
    text-decoration: none;
    border: solid 1px #bfbfbf;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-simple {
    color: white;
    background-color: #4890da;
}

.btn-danger {
    color: white;
    background-color: #cc505d;
}